@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2') format('woff2'), url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff') format('woff'),
        url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf') format('opentype');
}
.blind {
    height: 0;
    visibility: hidden;
}
body {
    background-color: #5b2386;
    font-size: 24px;
    font-family: 'GmarketSansMedium';
    color: white;
    text-align: center;
    font-weight: 200;
}
button {
    box-shadow: 0 0 10px gray;
}
button {
    height: 66px;
    padding: 0 50px;
    border-radius: 56px;
    border: none;
    background-color: #fcee21;
    color: #5b2386;
    font-size: 24px;
    font-family: 'GmarketSansBold';
    cursor: pointer;
}
/* ----------------------header----------------------- */
.title {
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    height: 265px;
    margin-top: 120px;
    margin-bottom: 50px;
}

.title-img {
    height: 112px;
    margin-top: 75px;
}

/* ----------------------main----------------------- */
.section-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-title {
    margin-bottom: 84px;
}
.sub-title-def {
    line-height: 30px;
    font-size: 18px;
    position: relative;
}
.sub-title-defs {
    font-size: 24px;
    font-family: 'GmarketSansBold';
}
.sub-title-def::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -60px;
    height: 30px;
    width: 485px;
    background-image: url(../img/quotes.png);
}

.section-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 95px;
}
input {
    font-size: 24px;
    border-radius: 7px;
    width: 228px;
    height: 57px;
    text-align: center;
    color: gray;
    margin-bottom: 27px;
}
.form-btn-wrapper {
    display: flex;
    margin-top: 78px;
    margin-left: 92px;
}
.section-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 145px;
}

.txt-result {
    display: flex;
    align-items: center;
}
.section-result strong {
    font-family: 'GmarketSansBold';
    font-size: 72px;
    margin: 0 12px;
}
.btn-result {
    margin-top: 115px;
}
.btn-share {
    background-color: white;
    margin-left: 18px;
}

/* ----------------------footer----------------------- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 130px;
    font-size: 12px;
    font-family: 'Noto Sans KR';
    line-height: 18px;
}

/* ----------------------modal----------------------- */
.section-modal {
    margin-top: 100px;
    width: 800px;
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 10px gray;
}
.modal-tit {
    margin-top: 76px;
    margin-bottom: 5px;
}
.modal-img {
    margin-top: 29px;
    margin-bottom: 74px;
}
