@font-face {
    font-family: "OTEnjoystoriesBA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
            format("woff2"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
            format("woff"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
            format("opentype");
}
.blind {
    height: 0;
    visibility: hidden;
}
body {
    background-color: #5b2386;
}

h1 {
    background-image: url(/img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    vertical-align: middle;
    margin-top: 120px;
    margin-bottom: 46px;
    height: 265px;
}

h1 img {
    height: 112px;
    margin-top: 75px;
}

main {
    text-align: center;
    margin-bottom: 135px;
}

p {
    color: white;
    font-size: 17px;
    font-family: "GmarketSansMedium";
    line-height: 24px;
}

.txt-desc {
    background-image: url(/img/quotes.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 78px;
    margin-bottom: 102px;
}
strong {
    vertical-align: middle;
}

.tit-desc {
    font-family: "GmarketSansBold";
}

form {
    margin-bottom: 147px;
}
input {
    width: 228px;
    height: 57px;
    font-size: 24px;
    text-align: center;
    color: #babcbe;
    border-radius: 7px;
}
.cont-inp img {
    vertical-align: -40px;
}

button {
    padding: 0 49px;
    border-radius: 54px;
    height: 56.5px;
    font-size: 24px;
    background-color: #fcee21;
    color: #5b2386; /*글자 투명으로 하기*/
    font-family: "GmarketSansBold";
}
.btn-exc {
    margin-top: 127px;
}

.btn-share {
    background-color: white;
    margin-left: 18px;
    margin-top: 100px;
}
.txt-wannabe {
    margin-bottom: 27px;
}

.cont-result strong {
    font-size: 72px;
    font-weight: bolder;
}

footer {
    text-align: center;
    color: white;
}

footer img {
    margin: 0 auto 20px;
    display: block;
}

.cont-modal {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 20px;
}

.cont-modal img {
    display: block;
    margin: 0 auto;
}

.modal-tit {
    padding-top: 100px;
    padding-bottom: 20px;
}

.modal-img {
    width: 433px;
    height: 337px;
}

.btn-go {
    margin-top: 80px;
}
